[tool.black]
line-length = 88
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 88

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503"]
exclude = [
  ".git",
  "__pycache__",
  "venv",
  ".venv",
  "env",
  ".env",
  "build",
  "dist",
  "site-packages",
  "migrations",
]

[tool.bandit]
exclude_dirs = ["tests"]
